body {  background-color: whitesmoke; !important }

.navbar { min-height:40px; font-size:15px; }

.sekcja1
{	  
	height:auto; width:auto; text-align:left;
	border-color: #5e00ff; border-width:1px;
	margin-top:45px; margin-left:5px; margin-right:1px;	margin-bottom:5px;	
}

.page-footer
{
	height:21px; width:auto; font-size:11px; color: #5e00ff;
	border:solid; border-width:1px; border-color: #5e00ff;
	margin-left:1px; margin-right:1px; margin-bottom:1px;	
}

